body {
    background: #e8faff;
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Encabezado Compu Click */
.header-img {
    width: 100%;
    height: 250px;
    object-fit: cover;  
    display: block;
    margin-bottom: 10px;
}

/* Centrado general*/
.center {
    text-align: center;
}

/* Tamaño de Imágenes */
.image-large {
    width: 70%;
    max-width: 400px;
    border: 2px solid #008c99;
    border-radius: 10px;
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

table {
    width: 70%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background: #0f7777;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
    background: #f2f9fb;
}

/* Formulario */
form {
    background: #5caaf3;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
}

input, button {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background: #f82d2d;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #006d78;
}
